body{
  font-size: 16px;
  font-family: $primary-font;
}

.container{
  width: 85%;
  max-width: 1300px;
}

.flex{
  display: flex;
}


.flex-center{
  @include flex-center;
}


.txt-uppercase{
  text-transform: uppercase;
}

.txt-capitalize{
  text-transform: capitalize;
}

.btn{
  @include btn;
  .btn-blu{
    @include btn-blu;
    &:hover{
      @include btn-blu-hover;
    }
  }
}
