body{
  font-size: 16px;
  font-family: $primary-font;
  color: $primary-black;
}

.container{
  width: 85%;
  max-width: 1300px;
}

.flex{
  display: flex;
}


.flex-center{
  @include flex-center;
}


.txt-uppercase{
  text-transform: uppercase;
}

.txt-capitalize{
  text-transform: capitalize;
}

.btn{
  @include btn;
}

.btn-blu{
  @include btn-blu;
  &:hover{
    @include btn-blu-hover;
  }
}

h1{
  font-size: 4rem;
}


h3{
  font-size: 2.9rem;
  color: $primary-green;
  text-transform: capitalize;
}

h4{
  font-size: 1.7rem;
  color: $primary-blu;
  text-transform: capitalize;
}

h5{
  font-size: 1.2rem;
  text-transform: uppercase;
}

p{
  line-height: 2rem;
}

span{
  color: $primary-grey;
  text-transform: uppercase;
  font-weight: bold;
}

li{
  text-transform: capitalize;
}

// .parallax::after {
//   content: " ";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   transform: translateZ(-1px) scale(1.5);
//   // background-size: 100%;
//   z-index: -1;
//   perspective: 8px;
//   perspective-origin: 50%;
//
// }

@media all and (max-width: 991px){
  .container{
    width: 95%;
    max-width: 1300px;
  }

  h1{
    font-size: 3.4rem;
  }

  h3{
    font-size: 2.6rem;
  }

  h4{
    font-size: 1.6rem;
  }

}
