header{
  .jumbo{
    background: url('../img/avada-movers-homeherobackground-final.jpg') no-repeat top;
    background-size: 130%;
    background-attachment: scroll;
    @include flex-center;
    flex-direction: column;
    font-weight: bold;
    @include ptb(24, 18);
    h1{
      font-size: 4rem;
    }
    span{
      color: $primary-grey;
    }
  }
  .get{
    background-color: $primary-blu;
    color: $primary-white;
    font-size: 1.1rem;
    @include py(4);
    letter-spacing: 0.1rem;
    i{
      margin-right: 10px;
    }
  }

}
