main{
  .award{
    @include py(10);
    background-color: $bg-grey;
    .container{
      flex-direction: column;
      text-align: center;
    }
    span{
      color: $primary-grey;
      font-weight: bold;
      margin-bottom: 20px;
    }
    h3{
      color: $primary-green;
      width: 35%;
      margin-bottom: 30px;
    }
    p{
      width: 60%;
      line-height: 2;
      margin-bottom: 30px;
    }
  }

  .solution{
    @include py(10);
    text-align: center;
    span{
      color: $primary-grey;
      font-weight: bold;
    }
    h3{
      color: $primary-green;
      margin: 1rem 0;
    }
    .content{
      background-color: $bg-grey;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      @include py(1);
    }
    img{
      max-width: 90%;
      margin-bottom: 1rem;
    }
    .info{
      background-color: $primary-white;
      max-width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      @include py(2);
      h4{
        color: $primary-blu;
        margin-bottom: 1rem;
      }
      p{
        line-height: 2;
        margin-bottom: 1rem;
      }
    }
  }

  .ease{
    @include py(10);
    background: url('../img/avada-movers-movewithease-background-new.jpg') no-repeat top;
    background-size: cover;
    background-attachment: scroll;
    .container{
      .square{
        @include py(3);
        @include px(3);
        text-align: center;
        width: 50%;
        background-color: $primary-green;
        border: 1rem solid $brd-green;
        color: $primary-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
          font-weight: bold;
          margin-bottom: 1rem;
        }
        h3{
          color: $primary-white;
        }
        hr{
          border: 1px solid $line-green;
          width: 70%;
          margin: 2rem 0;
        }
        p{
          line-height: 2;
          margin-bottom: 2rem;
        }
        button{
          font-size: 1.1rem;
        }
      }
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .testimonials{
    background: url('../img/avada-movers-testimonial-background.jpg') no-repeat center top;
    background-size: cover;
    // background-origin: content-box;
    @include py(10);
    .container{
      text-align: center;
      span{
        font-weight: bold;
        color: $primary-grey;
      }
      h3{
        color: $primary-green;
        margin-top: 1rem;
        margin-bottom: 3rem;
      }
      p{
        font-style: italic;
        color: $primary-grey;
        line-height: 2rem;
      }
      .content{
        @include px(0.3);
        img{
          width: 40%;
          border-radius: 50%;
        }
        h4{
          color: $primary-blu;
          margin: 2rem 0;
        }
      }
      button{
        margin-top: 5rem;
      }
    }
  }

  .request{
    border-bottom: 1rem solid $primary-green;
    @include py(10);
    background: url('../img/avada-movers-request-quote-background.jpg') repeat;
    background-size: cover;
    .container{
      flex-direction: column;
      p{
        margin: 2rem 0;
        width: 60%;
        text-align: center;
      }
    }
  }
}
