@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin py($rem){
  padding-top: #{$rem}rem;
  padding-bottom: #{$rem}rem;
}

@mixin px($rem){
  padding-right: #{$rem}rem;
  padding-left: #{$rem}rem;
}

@mixin ptb($remt, $remb){
  padding-top: #{$remt}rem;
  padding-bottom: #{$remb}rem;
}

@mixin btn{
  text-transform: uppercase;
  font-size: 0.9rem;
  @include py(0.8);
  @include px(1.8);
  border-radius: 50px;
  letter-spacing: 0.1rem;
  transition: 0.3s;
  font-weight: bold;
}

@mixin btn-blu{
  color: $primary-white;
  background-color: $primary-blu;
  border: 0;
}

@mixin btn-blu-hover{
  cursor: pointer;
  opacity: 0.8;
  color: $primary-white;
}
