header{
  position: relative;
  .absolute{
    position: absolute;
    width: 100%;
    nav{
      @include py(0.8);
      font-size: 0.8rem;
      font-weight: 500;
      background-color: $primary-green;
      color: $primary-white;
      .container{
        &.flex{
          justify-content: space-between;
          &>*{
            // width: 50%;
            display: flex;
          }
          .phone{
            justify-content: flex-start;
            *{
              margin-right: 10px;
            }
          }
          .socials{
            justify-content: flex-end;
            font-size: 1rem;
            *{
              margin-left: 10px;
            }
          }
        }
      }
    }
    .menu{
      font-weight: bold;
      @include py(1.1);
      .container{
        display: flex;
        justify-content: space-between;
      }
      ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
          margin-left: 3rem;
          color: $primary-black;
          transition: 0.3s;
          &.faq{
            a{
              text-transform: uppercase;
            }
          }
          &:hover{
            cursor: pointer;
            color: $primary-green;
          }
          &.home{
            color: $primary-green;
          }
          &.quote{
            a{
              @include btn;
              @include btn-blu;
            }
            &:hover{
              @include btn-blu-hover;
            }
          }
        }
      }
    }
  }
}
