header{
  position: relative;
  .absolute{
    position: absolute;
    width: 100%;
    nav{
      @include py(0.8);
      font-size: 0.8rem;
      font-weight: 500;
      background-color: $primary-green;
      color: $primary-white;
      .container{
        &.flex{
          justify-content: space-between;
          &>*{
            // width: 50%;
            display: flex;
          }
          .phone{
            justify-content: flex-start;
            *{
              margin-right: 10px;
            }
          }
          .socials{
            justify-content: flex-end;
            font-size: 1rem;
            *{
              margin-left: 10px;
            }
          }
        }
      }
    }
    .menu{
      font-weight: bold;
      @include py(1.1);
      .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }
      .hamburger{
        display: none;
        font-size: 1.2rem;
        color: $secondary-grey;
        &:hover{
          cursor: pointer;
        }
      }
      ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
          margin-left: 3rem;
          color: $primary-black;
          transition: 0.3s;
          &.faq{
            a{
              text-transform: uppercase;
            }
          }
          &:hover{
            cursor: pointer;
            color: $primary-green;
          }
          &.home{
            color: $primary-green;
          }
          &.quote{
            a{
              @include btn;
              @include btn-blu;
            }
            &:hover{
              @include btn-blu-hover;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px){
  header{
    .absolute{
      position: relative;
      nav{
        .container.flex{
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          .socials{
            *{
              margin-left: 0;
            }
            li{
              margin: 1rem 1rem;

            }
          }
        }
      }
      .menu{
        .logo{
          // width: 50%;
        }
        .hamburger{
          display: block;
          // width: 50%;
        }
        ul{
          display: none;
          width: 100%;
          flex-direction: column;
          margin-top: 1rem;
          &.active{
            display: flex;
          }
          li{
            background-color: $bg-grey;
            width: 100vw;
            text-align: center;
            font-size: 0.9rem;
            @include py(1);
            margin-left: 0;
            border-top: 1px solid $secondary-grey;
            &.home{
              color: inherit;
            }
            &.quote{
              border-bottom: 1px solid $secondary-grey;
              a{
                color: inherit;
                font-size: inherit;
                background-color: inherit;
                @include py(0);
                @include px(0);
                &:hover{
                  color: $primary-black;
                }
              }
            }
          }
        }
      }
    }
  }
}
