<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/12bool.css">
    <link rel="stylesheet" href="./assets/css/master.css">
    <link rel="icon" href="./assets/img/boxicon.png" type="image/x-icon">
    <title>MOVERS</title>
  </head>
  <body>
    <div id="root">

      <header>

        <div class="absolute">

          <nav>
            <div class="container flex">
              <div class="phone">
                <a href=""><i class="fas fa-phone"></i>Call us for a Free Quote: 1.800.555.6789</a>
              </div>
              <ul class="socials">
                <li v-for="socialIcon in socialIcons">
                  <a target="_blank" :href="socialIcon.link">
                    <i :class="`fab fa-${socialIcon.name}`"></i>
                  </a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="menu">
            <div class="container">
              <a href=""><img src="./assets/img/avada-movers-logo.png" alt=""></a>
              <ul class="link">
                <li v-for="avada in avadas" :class="avada.name"><a class="txt-capitalize" href="{{avada.link}}">{{avada.name}}</a></li>
              </ul>
            </div>
          </div>

        </div>

        <div class="jumbo ">
          <span>MOVING WITHOUT THE HASSLE</span>
          <h1>WE MAKE IT SIMPLE</h1>
          <span>PROFESSIONAL SERVICE WITH QUALITY AND CUSTOMER SATISFACTION</span>
        </div>

        <div class="get txt-uppercase flex-center"><i class="far fa-paper-plane"></i>get a free quote online now!</div>

      </header>

      <main>
        <section class="award">
          <div class="container flex-center">
            <span>HEADACHE FREE</span>
            <h3>Award Winning Moving Company</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac augue. Orci varius natoque penatibus et magnis dis parturient montes, ridiculus mus. Aliquam enim leo, condimentum facilisis nulla sed, cursus arcu. Aliquam enim leo.</p>
            <button class="btn btn-blu">read our testimonial</button>

          </div>
        </section>

        <section class="solution">
          <span>WE ARE A PROFESSIONAL</span>
          <h3>Full-Service Solution</h3>
          <div class="container">
            <div class="row">
              <div v-for="service in services" class="col-lg-4">
                <div class="content">
                  <img :src="service.img" alt="">
                  <div class="info">
                    <h4>{{service.title}}</h4>
                    <p>{{service.text}}</p>
                    <button class="btn btn-blu">{{service.btn}}</button>
                  </div>
                </div>
              </div>
          </div>
          </div>
        </section>

        <section class="ease">
          <div class="container">
            <section class="square">
              <span>WE REMOVE THE HEADACHE FROM MOVING</span>
              <h3>Move With Ease</h3>
              <hr>
              <p>With our super simple service we can take you from getting a quote, right through to being in your new home with all of your belongings securely packed and safely delivered, even in the rooms of your choice.</p>
              <button class="btn btn-blu">get a free quote now</button>
            </section>
          </div>
        </section>

        <section class="testimonials">
          <div class="container">
            <span>HAPPY CUSTOMERS</span>
            <h3>Testimonials</h3>
            <div class="row">
              <div v-for="testimonial in testimonials" class="col-lg-4">
                <div class="content">
                  <img :src="testimonial.img" alt="">
                  <h4 class="title">{{testimonial.name}}</h4>
                  <p>{{testimonial.text}}</p>
                </div>
              </div>
            </div>
            <button class="btn btn-blu" type="button" name="button">read more testimonials</button>
          </div>
        </section>

        <section class="request">
          <div class="container flex-center">
            <h3>Request A Free Quote</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <button class="btn btn-blu">click here</button>
          </div>
        </section>

      </main>

      <footer>

        <div class="site-links">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="content">
                  <h5>ABOUT</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis ex ut sem accumsan vehicula. Integer elit arcu, hendrerit id sapien ut, facilisis accumsan arcu.</p>
                  <a href=""><img class="logo" src="./assets/img/avada-movers-logo.png" alt=""></a>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="content">
                  <h5>avada movers</h5>
                  <ul>
                    <li :class="avada.name" v-for="avada in avadas"><a :href="avada.link"><span>></span>{{avada.name}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="content">
                  <h5>recent posts</h5>
                  <ul>
                    <li v-for="recent in recents"><a :href="recent.link"><span>></span>{{recent.name}}</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="ref">
          <div class="container">
            <ul class="copy">
              <li :class="copy.class" v-for="copy in copys">{{copy.title}}<a target="_blank" :href="copy.link">{{copy.name}}</a></li>
            </ul>
            <ul class="socials">
              <li v-for="socialIcon in socialIcons">
                <a target="_blank" :href="socialIcon.link">
                  <i :class="`fab fa-${socialIcon.name}`"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </footer>




































    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
