<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/12bool.css">
    <link rel="stylesheet" href="./assets/css/master.css">
    <link rel="icon" href="./assets/img/boxicon.png" type="image/x-icon">
    <title>MOVERS</title>
  </head>
  <body>
    <div id="root">

      <header>

        <div class="absolute">
          <nav>
            <div class="container flex">
              <div class="phone">
                <a href=""><i class="fas fa-phone"></i>Call us for a Free Quote: 1.800.555.6789</a>
              </div>
              <ul class="socials">
                <li v-for="socialIcon in socialIcons">
                  <a  href="">
                    <i :class="`fab fa-${socialIcon}`"></i>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="menu">
            <div class="container">
              <a href=""><img src="./assets/img/avada-movers-logo.png" alt=""></a>
              <ul class="link">
                <li :class="link" v-for="link in headerLinks" ><a class="txt-capitalize" href="">{{link}}</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="jumbo">
          <span>MOVING WITHOUT THE HASSLE</span>
          <h1>WE MAKE IT SIMPLE</h1>
          <span>PROFESSIONAL SERVICE WITH QUALITY AND CUSTOMER SATISFACTION</span>
        </div>
        <div class="get txt-uppercase flex-center"><i class="far fa-paper-plane"></i>get a free quote online now!</div>

      </header>




































    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
