a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 85%;
  max-width: 1300px;
}

.flex {
  display: flex;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

header {
  position: relative;
}
header .absolute {
  position: absolute;
  width: 100%;
}
header .absolute nav {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #6bbb14;
  color: #fefefe;
}
header .absolute nav .container.flex {
  justify-content: space-between;
}
header .absolute nav .container.flex > * {
  display: flex;
}
header .absolute nav .container.flex .phone {
  justify-content: flex-start;
}
header .absolute nav .container.flex .phone * {
  margin-right: 10px;
}
header .absolute nav .container.flex .socials {
  justify-content: flex-end;
  font-size: 1rem;
}
header .absolute nav .container.flex .socials * {
  margin-left: 10px;
}
header .absolute .menu {
  font-weight: bold;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}
header .absolute .menu .container {
  display: flex;
  justify-content: space-between;
}
header .absolute .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .absolute .menu ul li {
  margin-left: 3rem;
  color: #262727;
  transition: 0.3s;
}
header .absolute .menu ul li.faq a {
  text-transform: uppercase;
}
header .absolute .menu ul li:hover {
  cursor: pointer;
  color: #6bbb14;
}
header .absolute .menu ul li.home {
  color: #6bbb14;
}
header .absolute .menu ul li.quote a {
  text-transform: uppercase;
  color: #fefefe;
  background-color: #1975C0;
  font-size: 0.9rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
  border-radius: 50px;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}
header .absolute .menu ul li.quote:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #fefefe;
}

header .jumbo {
  background: url("../img/avada-movers-homeherobackground-final.jpg") no-repeat top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  padding-top: 24rem;
  padding-bottom: 18rem;
}
header .jumbo h1 {
  font-size: 4rem;
}
header .jumbo span {
  color: #6b6b6b;
}
