a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 85%;
  max-width: 1300px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

.btn {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
  border-radius: 50px;
  letter-spacing: 0.1rem;
  transition: 0.3s;
  font-weight: bold;
}

.btn-blu {
  color: #fefefe;
  background-color: #1975C0;
  border: 0;
}
.btn-blu:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #fefefe;
}

h3 {
  font-size: 2.9rem;
}

h4 {
  font-size: 1.7;
}

header {
  position: relative;
}
header .absolute {
  position: absolute;
  width: 100%;
}
header .absolute nav {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #6bbb14;
  color: #fefefe;
}
header .absolute nav .container.flex {
  justify-content: space-between;
}
header .absolute nav .container.flex > * {
  display: flex;
}
header .absolute nav .container.flex .phone {
  justify-content: flex-start;
}
header .absolute nav .container.flex .phone * {
  margin-right: 10px;
}
header .absolute nav .container.flex .socials {
  justify-content: flex-end;
  font-size: 1rem;
}
header .absolute nav .container.flex .socials * {
  margin-left: 10px;
}
header .absolute .menu {
  font-weight: bold;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}
header .absolute .menu .container {
  display: flex;
  justify-content: space-between;
}
header .absolute .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .absolute .menu ul li {
  margin-left: 3rem;
  color: #262727;
  transition: 0.3s;
}
header .absolute .menu ul li.faq a {
  text-transform: uppercase;
}
header .absolute .menu ul li:hover {
  cursor: pointer;
  color: #6bbb14;
}
header .absolute .menu ul li.home {
  color: #6bbb14;
}
header .absolute .menu ul li.quote a {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
  border-radius: 50px;
  letter-spacing: 0.1rem;
  transition: 0.3s;
  font-weight: bold;
  color: #fefefe;
  background-color: #1975C0;
  border: 0;
}
header .absolute .menu ul li.quote:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #fefefe;
}

header .jumbo {
  background: url("../img/avada-movers-homeherobackground-final.jpg") no-repeat top;
  background-size: 130%;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  padding-top: 24rem;
  padding-bottom: 18rem;
}
header .jumbo h1 {
  font-size: 4rem;
}
header .jumbo span {
  color: #4d596a;
}
header .get {
  background-color: #1975C0;
  color: #fefefe;
  font-size: 1.1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}
header .get i {
  margin-right: 10px;
}
header .get:hover {
  opacity: 0.8;
  cursor: pointer;
}

main .award {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #e9e9e9;
}
main .award .container {
  flex-direction: column;
  text-align: center;
}
main .award span {
  color: #4d596a;
  font-weight: bold;
  margin-bottom: 20px;
}
main .award h3 {
  color: #6bbb14;
  width: 35%;
  margin-bottom: 30px;
}
main .award p {
  width: 60%;
  line-height: 2;
  margin-bottom: 30px;
}
main .solution {
  text-align: center;
}
main .solution span {
  color: #4d596a;
  font-weight: bold;
}
main .solution h3 {
  color: #6bbb14;
}
main .solution .content {
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .solution img {
  max-width: 90%;
}
main .solution .info {
  background-color: #fefefe;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .solution .info h4 {
  color: #1975C0;
}
main .solution .info p {
  line-height: 2;
}
